# Python cache
__pycache__/
*.py[cod]

# PyCharm project settings
.idea/

# Virtual environments
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Test/cache/logs
.pytest_cache/
*.log
.coverage
htmlcov/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/
